{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'test.css'  %}">
    <title>Document</title>
</head>
<body>
    <div class="test">
        
    </div>






<!--
    <div class="upload_cont">
        <div class="upload_wrapper">
            <div class="upload_info">

                <div class="img_cont">
                    <div class="img_pre">
                        <img class="imgg">
                    </div>
                </div>

                <div class="info_cont">
                    <div class="info_pre">
                        <span class="info_name">filename : myimg.jpg </span>
                        <span class="info_size">filesize : 108KB </span>
                        <span class="info_format">format : jpeg </span>
                        <div class="compress_btn">
                            compress
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="compress_cont">
            <div class="compress_size">
                <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                <span class="status_txt">uploading image</span>
            </div>
        </div>
        <div class="opt_wrapper">
            <div class="best_opt">
                <input type="radio" name="best" value="Best Quality" checked="checked">
                <svg class="best_svg" xmlns="http://www.w3.org/2000/svg" fill="#8d99ae  " height="30" viewBox="0 -960 960 960" width="30"><path d="m368-320 112-84 110 84-42-136 112-88H524l-44-136-44 136H300l110 88-42 136ZM160-160q-33 0-56.5-23.5T80-240v-135q0-11 7-19t18-10q24-8 39.5-29t15.5-47q0-26-15.5-47T105-556q-11-2-18-10t-7-19v-135q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v135q0 11-7 19t-18 10q-24 8-39.5 29T800-480q0 26 15.5 47t39.5 29q11 2 18 10t7 19v135q0 33-23.5 56.5T800-160H160Zm0-80h640v-102q-37-22-58.5-58.5T720-480q0-43 21.5-79.5T800-618v-102H160v102q37 22 58.5 58.5T240-480q0 43-21.5 79.5T160-342v102Zm320-240Z"/></svg>
                <span class="best_txt">Best quality</span>
                <div class="best_download_btn">
                    Download
                </div>
            </div>
            <div class="change_opt">
                <input type="radio" name="cosutmize" value="Coustmize">
                <svg class="coustm_svg" xmlns="http://www.w3.org/2000/svg" fill="#8d99ae" height="30" viewBox="0 -960 960 960" width="30"><path d="M240-400h98l236-234q6-6 6-15t-6-15l-70-70q-6-6-15-6t-15 6L240-498v98Zm180 0h300v-80H500l-80 80ZM80-80v-720q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v480q0 33-23.5 56.5T800-240H240L80-80Zm126-240h594v-480H160v525l46-45Zm-46 0v-480 480Z"/></svg>
                <span class="coustm_txt">Coustmize size</span>


                <div class="coustm_cont">
                    <input type="range" name="" id="" min="10" max="95">
                    <div class="coustm_download_btn">
                        Download
                    </div>
                </div>

            </div>
        </div>
    </div>-->
</body>
</html>